/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(58, 71, 69, 0.884);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: gray;
  color: rgb(15, 13, 13);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #f30000;
  color: white;
}

/* Hide the icon that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Style for page content */
.content {
  padding: 14px;
  font-size: 22px;
}

/* When the screen is less than 800 pixels wide */
@media screen and (max-width: 750px) {
  /* Hide all links, except for the selected tab */
  .topnav a:not(.active) {
    display: none;
  }

  /* Show the icon that should open and close the topnav */
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* When the screen is less than 800 pixels wide, if the user clicks on the icon */
/* the "responsive" class attribute will be added to the topnav by the JavaScript code */
/* This media query sets the style for the unfolded topnav */
/* It makes the topnav look good on small screens (display the links vertically instead of horizontally)  */
@media screen and (max-width: 750px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
  border: 1px solid #9c9c9c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/* Full Size Table */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th, td {
  text-align: left;
  padding: 1rem;
}


/* Video */
body {
  margin: 0;
  font-size: 1rem;
}

#myVideo {
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.intro-content {
  position: fixed;

  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Others */
.intro-content h1, h2 {
  text-align: center;
}

.intro-content p {
  padding-left: 5rem;
  padding-right: 5rem;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imgs img {
  max-width: 100%;
  width: 40rem;
  height: auto;
  padding: 10px;
}